mltbenv/
accounts/
thumbnails/
rclone/
tokens/
sabnzbd/
downloads/
tdlib_user/
tdlib_bot/
token.pickle
rclone.conf
.netrc
log.txt
cfg.zip
list_drives.txt
cookies.txt
__pycache__/
# python compiled files, caches, and logs
*.pyc
*.pyo
*.pyd
*.pkl
*.py[cod]
# C extensions
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite
*.sqlite3
*.log
*.bak
*.swp
*.tmp
